.floatL {
  float: left;
}

.floatR {
  float: right;
}

.container-fulid {
  width: 100%;
}

.container {
  width: 1266px;
  margin: 0 auto;
}

.block {
  display: block;
}

.none {
  display: none;
}

#topList {
  height: 40px;
  width: 100%;
  background: #333;
}

#topList ul li {
  margin: 12px 0 11px 0;
  float: left;
  font-size: 12px;
  border-right: 1px solid #424242;
  padding: 0 6px 0 6px;
}

#topList ul li a {
  color: #b0b0b0;
}

#topList ul .carbtn {
  width: 120px;
  height: 40px;
  background: #424242;
  padding: 0;
  margin: 0;
  line-height: 40px;
  text-align: center;
  position: relative;
}

#topList ul .carbtn #carinfo {
  position: absolute;
  top: 40px;
  right: 0;
  width: 400px;
  height: 100px;
  background: #fff;
  line-height: 100px;
  text-align: center;
  color: #424242;
  box-shadow: 1px 1px 5px #000;
}

#topList ul .carbtn:hover {
  background: white;
  color: #ff6700;
}

.ercode {
  position: relative;
  color: #b0b0b0;
}

.ercode .ercodemar {
  position: absolute;
  top: 25px;
  left: -40px;
  width: 124px;
  height: 0;
  box-shadow: 1px 1px 5px #000;
  overflow: hidden;
}

.ercode .ercodemar img {
  margin: 18px 17px 12px 17px;
  height: 90px;
  width: 90px;
}

.ercode .ercodemar span {
  display: block;
  height: 20px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}

.listRight {
  color: #b0b0b0;
}

.nav {
  height: 100px;
}

#logo {
  float: left;
  text-indent: -9999px;
  font-size: 0;
  height: 49px;
  width: 49px;
  background-color: #ff6700;
  margin-top: 22px;
  margin-right: 150px;
}

.navlist li {
  margin-top: 35px;
  float: left;
  margin-left: 30px;
}

.navlist li:last-of-type {
  margin-right: 0;
  margin-top: 20px;
}

.navlist li:last-of-type input {
  margin-top: -20px;
  height: 50px;
  width: 245px;
  border: 1px solid #b0b0b0;
  margin: 0;
  padding: 0;
}

.navlist li:last-of-type button {
  height: 50px;
  width: 50px;
  margin: -5px;
  padding: 19px;
  background: #fff;
}
